DATABASE_URL="postgres://username:password@db.prisma.io:5432/postgres?sslmode=require"

EMAIL_SERVER="smtp://username:password@sandbox.smtp.mailtrap.io:2525"
EMAIL_FROM=noreply@example.com

AUTH_SECRET=super-secret-key
NEXTAUTH_SECRET=super-secret-key
AUTH_TRUST_HOST=true

CLIENT_ID=
CLIENT_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://localhost:3000
